body {
	background-color:#fff;	
	font-family:Roboto Condensed;
}

img {
	max-width:100%;
	text-align:center;
}

.header {
	text-align:center;
	padding:40px 0;	
}

.stage {
	position:relative;	
	background-image:url(img/bgr.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	background-size:cover;
	min-height:630px;	
}

.eyy {
	position:absolute;
	right:0;
	bottom:0;	
	height:80%;
}

.stage-right {
	padding:50px;	
}

.desc {
	text-align:center;	
	padding:100px 0;
}

.desc h1 {
	font-family:Roboto Condensed;
	text-transform:uppercase;
	font-weight:bold;
}

.desc h2 {
	font-family:Roboto Condensed;
	font-size:15px;
}

.choice {
	text-align:center;	
	margin: 0 0 100px 0;
	display:flex;
	flex-wrap:wrap;
	flex-direction: row;
}

.package {
	flex-grow:1;
	position:relative;
}

.package-thumb {
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center top;
	width:100%;
	height:200px;
	position:relative;
}

.package-thumb:after {
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	top:0;
	left:0;	
	transition:all 0.2s ease 0s;
}

.package-thumb:hover:after {
	opacity:0;	
}

.package-title {
	font-size:30px;
	color:#c00000;
	position:relative;
	padding:10px 0 0 0;
}

.price {
	position:relative;
	margin:0 0 20px 0;
}

.action {
	text-align:center;	
	margin: 0 0 100px 0;
}

.std-button {
	border-radius:50px;
	padding:20px 40px;
	color:#ffffff;
	background-color:#93c53e;
	display:inline-block;	
	font-size:25px;
	border-bottom:5px solid #5e851b;
}

.footer {
	padding:50px 0 20px 0;
	text-align:center;
	background-color:#222;
}

.button {
	display:inline-block;
	margin:0 20px 40px;	
	text-align:center;
}

.button-title {
	font-size:25px;
	margin: 0 0 20px 0;	
	color:#ffffff;
}

.button-icon {
	max-width:80px;	
	display:inline-block;	
}

@media( max-width:1199px ) {
	.package {
		flex-grow: 1;
		width:33.333333333333%;
	}
}

@media( max-width:767px ) {
	.package {
		width:100%;
	}
	
	.eyy {
		height:60%;	
	}
	
	.stage {
		min-height:300px;	
	}
	
	.stage-right {
		padding:20px 5px;
	}
}

@media( max-width:576px ) {
	.button {
		margin: 0 10px 20px;
  }

  .button-title {
		font-size: 18px;
	}

	.button-icon {
		max-width: 60px;
  }

  .std-button {
			border-radius: 50px;
			padding: 10px 20px;
	}
	
	.desc {
		padding: 30px 0;
	}

	.action {
		margin: 0 0 35px 0;
	}
}

